<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canny Edge Detection</title>
    <link rel="stylesheet" href="../static/assets/style.css">
</head>
<body>

    <div class="container">
        <h1>Upload Image for Canny Edge Detection</h1>
        
        <!-- Image Upload Form -->
        <input type="file" id="imageUpload" accept="image/*" />
        <button id="uploadButton">Upload Image</button>

        <div id="preview">
            <h3>Original Image</h3>
            <img id="originalImage" src="" alt="Original Image" style="display:none; width:100%; max-width: 500px;">
            <h3>Edge Detected Image</h3>
            <img id="edgeImage" src="" alt="Edge Detected Image" style="display:none; width:100%; max-width: 500px;">
        </div>
    </div>

    <script src="../static/assets/script.js"></script>
</body>
</html>
